<!DOCTYPE html>

<html>
	<head>
		<title>AngularJS Tree.</title>
		<meta charset="UTF-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script type="text/javascript" src="js.js"></script>

		<link rel="stylesheet" type="text/css" href="style/themify-icons.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>

		<h1>AngularJS Tree.</h1>

		<div ng-app="App" ng-controller="Tree" class="at-app">
			<div ng-repeat="script in list_scripts track by script.id"
				class="at-script">
				<div class="at-script-title" ng-click="script.open = !script.open">
					<i class="ti-layers-alt"></i>
					<div>{{script.title}}</div>
				</div>

				<div class="at-ul-step" ng-show="script.open">
					<div class="at-li-step" ng-repeat="step in script.list_steps">
						<div class="at-li-step-title" ng-click="step_click(step)">
							<i class="{{get_step_icon(step.type)}}"></i>
							<div>{{step.title}}</div>
						</div>
						<at_script key='step'></at_script>
					</div>
				</div>

			</div>
			
		</div>

	</body>
</html>
